# SPDX-FileCopyrightText: OpenTalk GmbH <mail@opentalk.eu>
#
# SPDX-License-Identifier: EUPL-1.2

.idea
.vscode
/*.dot
/*.dot.png
/*.webm
/target
config.toml
recorder.toml
.DS_Store

# gstreamer pipelines
/pipelines
